@{
    ViewBag.Title = "Cocos";
}

<section class="sub_header" id="bg_Cocos">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Cocos</h1>
        </div>
    </div>
</section><!-- End Section -->
<div id="position">
    <div class="container">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Rooms">Rooms</a></li>
            <li>Cocos</li>
        </ul>
    </div>
</div><!-- End Position -->

<div class="container margin_60">
    <div class="row">
        <div class="col-lg-8 col-md-8" id="single_tour_desc">
            <div id="Img_carousel" class="slider-pro">
                <div class="sp-slides">
                    <div class="sp-slide">
                        <img src="~/Content/img/room_photo/Cocos_1000x667.jpg" alt="Cocos" class="img-responsive" />
                    </div>
                </div>
            </div>
            <div id="single_room_feat">
                <ul>
                    <li><i class="icon_set_2_icon-116"></i>Cable Television</li>
                    <li><i class="icon_set_1_icon-86"></i>Free Wifi</li>
                    <li><i class="icon_set_1_icon-58"></i>Breakfast Included</li>
                    <li><i class="icon_set_2_icon-118"></i>Shower Heater</li>
                    <li><i class="icon_set_2_icon-111"></i>Attached Bathroom</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h3>Description</h3>
                </div>
                <div class="col-md-9">
                    <p>
                        The boisterous, playful boy of the family, the Cocos suite represents a cosy getaway with enough space for a small family of around 4 to a couples retreat just for 2. This bright, colourful suite is appropriately coloured yellow, ensuring the kids (and their parents) have a fun, fun, fun stay.
                    </p>
                    <p>
                        1 king sized bed for 2 persons (Max 4)<br />
                        Surcharge on the 3rd and 4th persons for single bed
                    </p>
                    <h4>Room facilities</h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Air Cond (bedroom)</li>
                                <li>Free Wifi</li>
                                <li>Cable Television</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <ul class="list_ok">
                                <li>Attached Bathroom</li>
                                <li>Shower Heater</li>
                                <li>King Size Bed</li>
                            </ul>
                        </div>
                    </div><!-- End row  -->
                    <h4>Room Prices</h4>
                    <!-- start pricing table -->
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Off-Peak (weekdays)</td>
                                <td>RM 220</td>
                            </tr>
                            <tr>
                                <td>Peak (weekend)</td>
                                <td>RM 250</td>
                            </tr>
                            <tr>
                                <td>Super-Peak (public holidays)</td>
                                <td>RM 280</td>
                            </tr>
                            <tr>
                                <td>Certain Public Holidays</td>
                                <td>RM 300</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- End col-md-9  -->
            </div><!-- End row  -->
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <h3>Reviews</h3>
                </div>
                <div class="col-md-9">
                    <div id="TA_cdswritereviewlg706" class="TA_cdswritereviewlg">
                        <ul id="zPaBZet" class="TA_links aMl6Rj8L4zJr">
                            <li id="ddsCh4IKth" class="Dw4xrVtfBV">
                                <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor" /></a>
                            </li>
                        </ul>
                    </div>
                    <script src="http://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=706&amp;locationId=3366916&amp;lang=en_US&amp;border=true&amp;display_version=2"></script>

                </div>
            </div>
        </div><!-- End col-lg-8 -->


        <div class="col-md-4">
            <div class="box_style_1" id="book_in">
                <h3>Check availability</h3>
                <div id="message-booking"></div>
                <form role="form" method="post" action="/Reservation">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Check in</label>
                                <input class="date-pick form-control" type="text" id="startDate" name="startDate" placeholder="Check in">
                                <span class="input-icon"><i class=" icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label>Check out</label>
                                <input class="date-pick2 form-control" type="text" id="endDate" name="endDate" placeholder="Check out">
                                <span class="input-icon"><i class=" icon-calendar"></i></span>
                            </div>
                        </div>
                    </div><!-- End row -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="submit" value="Book now" class="btn_full">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box_style_1" id="general_facilities">
                <h3>General facilities</h3>
                <ul>
                    <li><i class="icon_set_2_icon-110"></i>Swimming pool</li>
                    <li><i class="icon_set_1_icon-8"></i>Gathering Area</li>
                    <li><i class="icon_set_1_icon-27"></i>Parking Lot</li>
                    <li><i class="icon_set_1_icon-58"></i>Breakfast Provided</li>
                    <li><i class="icon_set_1_icon-59"></i>Afternoon Tea Provided</li>
                </ul>
            </div>
            <div class="box_style_1" id="">
                <h3>Rules and regulation</h3>
                <ul>
                    <li>Child below 8 may share bed with adults. One child per king sized bed</li>
                    <li>Surcharge RM 50 on each single bed per nigh.</li>
                    <li>Check in time – 3pm, check out time – 12 pm.</li>
                    <li>The rates are inclusive of breakfast and afternoon tea.</li>
                    <li>Pets are not allowed.</li>
                    <li>Chalet deposit upon check in – RM 200 per chalet.</li>
                    <li>Office hour – 8am to 6pm (unless special case).</li>
                    <li>No wearing t-shirt in the swimming pool. Only proper swimming attire.</li>
                    <li>All chalets guest with breakfast</li>

                </ul>
            </div>
            <div class=" box_style_2">
                <i class="icon_set_1_icon-90"></i>
                <h4>Need help? Call Mr.Lim</h4>
                <a href="tel:+6062827826" class="phone">+606-282 7826</a>
                <a href="tel:+60123062335" class="phone">+6012-306 2335</a>
                <small>Operating Hours: Mon - Sun: 8:00am - 6:00pm</small>
            </div>

        </div><!-- End col-md-4 -->
    </div><!-- End row -->
</div><!-- End Container -->
